body
{
   
   
    background-image: url(kuromi.jpg) 
     


}
h1 {
    border: 8px dotted black;
}
div {
    color: black;
    font-size: 50px;
    font-family: 'Century Gothic';
}


